In [ ]:
import pandas as pd
import numpy as np
from IPython.display import display, HTML,Markdown

def display_content(content, title=None, title_style='bold'):
    if title is not None:
        if title_style == 'bold':
            title = f'**{title}**'
        display(Markdown(f"{title}"))
    display(content)

# 基础属性

* 排序的列集合
* 行列索引
* 共享索性的多个series
* 多层索引 高维 
* 列元素的类型是一样的，但是行不是，行列不是完全对称的

In [ ]:
df1 = pd.DataFrame({'name': ['Joe', 'Helen'], 'score': [98, 80]})
display_content(df1, '初始值')

df1_1 = df1.values
display_content(df1_1, 'df1的值')

df1_2 = df1.columns
display_content(df1_2, 'df1的columns')


df1_3 = df1.index
display_content(df1_3, 'df1的index')

# 创建

## 列集合 字典

In [ ]:
df21_1 = pd.DataFrame({'name': ['Joe', 'Helen'], 'score': [98, 80]})
display_content(df21_1, "通过 {col: [col_value, col_value2]} 创建：<font color=green>pd.DataFrame({'name': ['Joe', 'Helen'], 'score': [98, 80]}) </font>")

df21_2 = pd.DataFrame({'name': ('Joe', 'Helen'), 'score': (98, 80)})
display_content(df21_2, "通过 {col: (col_value, col_value2)} 创建：<font color=green>pd.DataFrame({'name': ('Joe', 'Helen'), 'score': (98, 80)}) </font>")

df21_3 = pd.DataFrame({'math_score': {'Joe':98, 'Helen': 80}, 'english_score': {'Joe':97, 'May': 70}})
display_content(df21_3, "通过 {col: {row_index, col_value}} 创建：<font color=green>pd.DataFrame({'math_score': {'Joe':98, 'Helen': 80}, 'english_score': {'Joe':97, 'May': 70}}) </font>")

s21_4 = pd.Series([90, 80], index=['Joe', 'Helen'])
df21_4 = pd.DataFrame({'score': s21_4})
display_content(df21_4, "通过 {col: series} 创建：<font color=green>pd.DataFrame({'score': pd.Series([90, 80], index=['Joe', 'Helen'])})</font>")

## 行集合 列表

In [ ]:
s22_1 = pd.DataFrame([['Joe', 98], ['Helen', 80]], columns=['name', 'score'])
display_content(s22_1, "通过 2d array 创建：<font color=green>pd.DataFrame([['Joe', 98], ['Helen', 80]], columns=['name', 'score'])</font>")

s22_2 = pd.DataFrame([[98, 99], [80, 70]], columns=['math', 'english'], index=['Joe', 'Helen'])
display_content(s22_2, "通过 2d array with hindex 创建：<font color=green>pd.DataFrame([['Joe', 98], ['Helen', 80]], columns=['name', 'score'])</font>")

## 通过已有数据创建

In [ ]:
s23 = pd.DataFrame([['Joe', 98], ['Helen', 80]], columns=['name', 'score'])

s23_1 = pd.DataFrame(s23)
display_content(s23_1, "通过已有数据创建<font color=green>pd.DataFrame(s23)</font>")

# 访问

## 普通访问

In [ ]:
df31 = pd.DataFrame([['Joe', 98, 100], ['Helen', 80, 89], ['Allen',90, 98], ['Jack', 87, 78]], columns=['name', 'math', 'english'])

display_content(df31, '初始值')



df31_1 = df31['name']
display_content(df31_1, '选择单列')


df31_2 = df31[['name','math']]
display_content(df31_2, '选择指定列')

df31_3 = df31[1:2]            
display_content(df31_3, '切片选择行')

df31_4 = df31[df31['math'] > 90]
display_content(df31_4, '布尔选择行')

df31_3 = df31[[1,2]]

## [numpy 风格](https://wizardforcel.gitbooks.io/pyda-2e/content/img/7178691-64354f2ab777bd8c.png)

### loc 标签索引

In [ ]:
df321 = pd.DataFrame([['Joe', 98, 100], ['Helen', 80, 89], ['Allen',90, 98], ['Jack', 87, 78]], columns=['name', 'math', 'english'])
df321_1 = df321.set_index('name')
display_content(df321_1, '初始值')

df321_2 = df321_1.loc['Joe']
display_content(df321_1, '选择单行')

df321_2 = df321_1.loc[['Joe', 'Helen']]
display_content(df321_2, '选择多行')

df321_3 = df321_1.loc['Joe':'Helen']
display_content(df321_3, '切片选择多行')

df321_4 = df321_1.loc[:, 'math']
display_content(df321_4, '选择单列')

df321_5 = df321_1.loc[:, ['math','english']]
display_content(df321_5, '选择多列')

df321_6 = df321_1.loc[:, 'math':'english']
display_content(df321_6, '切片选择多列')

df321_7 = df321_1.loc['Joe':'Helen','math']
display_content(df321_7, '混合选择')

### iloc整数索引

In [ ]:
df322 = pd.DataFrame([['Joe', 98, 100], ['Helen', 80, 89], ['Allen',90, 98], ['Jack', 87, 78]], columns=['name', 'math', 'english'])
display_content(df322, '初始值')

df322_1 = df322.iloc[0]
display_content(df322_1, '选择单行')

df322_2 = df322.iloc[[0,1]]
display_content(df322_2, '选择多行')

df322_3 = df322.iloc[0:2]
display_content(df322_3, '切片选择多行')

df322_4 = df322.iloc[:,1]
display_content(df322_4, '选择单列')

df322_5 = df322.iloc[:, [0,1]]
display_content(df322_5, '选择多列')

df322_6 = df322.iloc[:, 0:1]
display_content(df322_6, '切片选择多列')

df322_7 = df322.iloc[0,1:2]
display_content(df322_7, '混合选择')

## 其他索引

In [ ]:
df33 = pd.DataFrame([['Joe', 98, 100], ['Helen', 80, 89], ['Allen',90, 98], ['Jack', 87, 78]], columns=['name', 'math', 'english'])

display_content(df33, '初始值')

display_content(df323.at[0,'name'], "通过行列标签选择标量")

display_content(df323.iat[1,1], "通过行列整数索引选择标量")

# 修改

In [ ]:
df4 = pd.DataFrame([['Joe', 98], ['Helen', 80]], columns=['name', 'score'])
display_content(df4, "初始值")


df4_1 = df4.rename(columns={'score': 'math'})
display_content(df4_1, "将score修改为math")


df4_1['english'] = [90, 88]

display_content(df4_1, "增加english列")

# 删除

In [ ]:
df5 = pd.DataFrame([['Joe', 98], ['Helen', 80], ['Allen',90], ['Jack', 87]], columns=['name', 'score'])
display_content(df5, '初始值')

df5_1 = df5.drop([2,3])
display_content(df5_1, '删除行,原数据不变')

df5_2 = df5.drop([2,3], axis=0)
display_content(df5_2, '删除行with axis,原数据不变')

df5_3 = df5.drop(columns=['score'])
display_content(df5_3, '删除列,原数据不变')

df5_4 = df5.drop(['score'], axis=1)
display_content(df5_4, '删除列 with axis,原数据不变')

df5_5 =  pd.DataFrame(df5)
df5_5.drop([1], inplace=True)
display_content(df5_5, '在元数据中删除第1行')

del df5['score']
display_content(df5, '在原数据上删除score列')

# 计算

## 数据计算

### 基础计算（built-in）

In [ ]:
df611 = pd.DataFrame([['Joe', 98, 100], ['Helen', 80, 89], ['Allen',90, 98], ['Jack', 87, 78]], columns=['name', 'math', 'english'])
df611 = df611.set_index('name')
display_content(df611, '初始值')


df611_1 = df611 + 10
display_content(df611_1, '基础标量计算(加法)：<font color=green>df611 + 10</font>')

df611_2 = df611 **2
display_content(df611_2, '基础标量计算(指数)：<font color=green>df611 **2</font>')

df611_3 = df611 > 90
display_content(df611_3, '基础标量计算(比较): <font color=green>df611 > 90</font>')

df611_4 = ~df611_3
display_content(df611_4, '基础标量计算(取反): <font color=green>~df611_3</font>')


df611_5 = 'math' in df611
display_content(df611_5, '基础标量计算(in):<font color=green>\'math\' in df611</font>判断<font color=green>column</font>是否存在')

df611_6 = 'Joe' in df611.index
display_content(df611_6, '基础标量计算(in): <font color=green>\'Joe\' in df611.index</font>判断<font color=green>index</font>是否存在')

df611_7 = 100 in df611.values
display_content(df611_7, '基础标量计算(in): <font color=green>100 in df611.values</font>判断<font color=green>values</font>是否存在')


df611_8 = df611 + pd.Series({'math': 10, 'english': -10})
display_content(df611_8, '基础向量计算: <font color=green>df611 + pd.Series({\'math\': 10, \'english\': -10})</font> 每行与Series相加， 按照column对齐')


df611_9 = df611 + df611
display_content(df611_9, '基础向量计算：<font color=green>df611 + df611</font>与Dataframe相加，自动按行列对齐')

### 通用函数计算

In [206]:
df612 = pd.DataFrame([['Joe', 98, 100], ['Helen', 80, 89], ['Allen',90, 98], ['Jack', 87, 78]], columns=['name', 'math', 'english'])
df612 = df612.set_index('name')
display_content(df612, '初始值')

df612_2 = np.sqrt(df612)
display_content(df612_2, 'np函数计算:<font color=green> np.sqrt(df612)</font>')

df612_3 = pd.isnull(df612)
display_content(df612_3, 'pd函数计算:<font color=green> pd.isnull(df612)</font>')

df612_4 = df612.count()
display_content(df612_4, 'dataframe函数计算:<font color=green> df612.count()</font>')

**初始值**

       math  english
name
Joe      98      100
Helen    80       89
Allen    90       98
Jack     87       78

**np函数计算:<font color=green> np.sqrt(df612)</font>**

           math    english
name
Joe    9.899495  10.000000
Helen  8.944272   9.433981
Allen  9.486833   9.899495
Jack   9.327379   8.831761

**pd函数计算:<font color=green> pd.isnull(df612)</font>**

        math  english
name
Joe    False    False
Helen  False    False
Allen  False    False
Jack   False    False

**dataframe函数计算:<font color=green> df612.count()</font>**

math       4
english    4
dtype: int64

# 索引

## 基本操作

In [ ]:
df71 = pd.DataFrame([[100, 98], [90, 80], [87, 76]], columns=['math', 'english'], index=['Joe', 'Helen', 'May'])
display_content(df71, '初始值')

df71_1 = df71.reindex(['Helen', 'Joe', 'Alice'])
display_content(df71_1, '重新index')

df71_2 = df71.reindex(columns=['english', 'math', 'history'])
display_content(df71_2, '按column重新index')


df71_3 = df71.reindex(['Helen', 'Joe', 'Alice'],fill_value=60)
display_content(df71_3, '重新index,带默认填充值')


df71_4 = df71.reset_index()
df71_4 = df71_4.reindex(range(5), method='ffill')
display_content(df71_4, '重新index,向前填充，index必须是monotonic')

# 数据处理专题

## 排序与排名

In [227]:
df81 = pd.DataFrame([[100, 98], [90, 80], [87, 76]], columns=['math', 'english'], index=['Joe', 'Helen', 'May'])
display_content(df71, '初始值')

df81_1 = df81.sort_index()
display_content(df81_1, '按index排序')

df81_2 = df81.sort_values(by='math', ascending=False)
display_content(df81_2, '按math的值倒序')



df81_3 = df81.rank(ascending=False)
display_content(df81_3, '按value进行排名')

df81_4 = df81.sort_values(by='Joe', axis=1)
display_content(df81_4, '按纵轴排序')

**初始值**

       math  english
Joe     100       98
Helen    90       80
May      87       76

**按index排序**

       math  english
Helen    90       80
Joe     100       98
May      87       76

**按math的值倒序**

       math  english
Joe     100       98
Helen    90       80
May      87       76

**按value进行排名**

       math  english
Joe     1.0      1.0
Helen   2.0      2.0
May     3.0      3.0

**按纵轴排序**

       english  math
Joe         98   100
Helen       80    90
May         76    87

## 空值处理

In [244]:
df82 = pd.DataFrame([[100, 98, 99], [90, None, 95], [None, 76, 87], [None, None, None]], columns=['math', 'english', 'history'], index=['Joe', 'Helen', 'May'])
# df82['music'] = np.NaN

display_content(df82, '初始值')

df82_1 = df82.dropna()
display_content(df82_1, 'dropna: <font color=\'green\'>df82.dropna()</font>默认按行删除，行内存在na')


df82_2 = df82.dropna(axis=1)
display_content(df82_2, 'dropna: <font color=\'green\'>df82.dropna(axis=1)</font>按列删除，列内存在na')

df82_3 = df82.dropna(how='all')
display_content(df82_3, 'dropna: <font color=\'green\'>df82.dropna(how=\'all\')</font>按行删除，行所有值在na')

**初始值**

        math  english  history
Joe    100.0     98.0       99
Helen   90.0      NaN       95
May      NaN     76.0       87

**dropna: <font color='green'>df82.dropna()</font>默认按行删除，行内存在na**

      math  english  history
Joe  100.0     98.0       99

**dropna: <font color='green'>df82.dropna(axis=1)</font>按列删除，列内存在na**

       history
Joe         99
Helen       95
May         87

**dropna: <font color='green'>df82.dropna(how='all')</font>按行删除，行所有值在na**

        math  english  history Alice
Joe    100.0     98.0       99  None
Helen   90.0      NaN       95  None
May      NaN     76.0       87  None